Folllowing and understaning someone's solution!

In [1]:
import numpy as np # Linear Algebra
import pandas as pd # Data Processing

import os
for dirname, _, filenames in os.walk('input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [2]:
train = pd.read_csv('../data/input/demand-forecasting-kernels-only/train.csv')
test = pd.read_csv('../data/input/demand-forecasting-kernels-only/test.csv')
sample = pd.read_csv('../data/input/demand-forecasting-kernels-only/sample_submission.csv')

In [3]:
train.head()

         date  store  item  sales
0  2013-01-01      1     1     13
1  2013-01-02      1     1     11
2  2013-01-03      1     1     14
3  2013-01-04      1     1     13
4  2013-01-05      1     1     10

In [8]:
train.isnull().sum().sum()
# two .sum() calsulaes the total count of NaNs across all columns in the DataFrame

np.int64(0)

In [7]:
test.drop("id", axis=1, inplace=True)

In [9]:
train.shape, test.shape

((913000, 4), (45000, 3))

In [10]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 913000 entries, 0 to 912999
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    913000 non-null  object
 1   store   913000 non-null  int64
 2   item    913000 non-null  int64
 3   sales   913000 non-null  int64
dtypes: int64(3), object(1)
memory usage: 27.9+ MB

In [ ]:
train["date"] = pd.to_datetime(train["date"])
train